
:host {

}
.type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #0087ff;
  font-size: 14px;
  color: #fff;
  position: fixed;
  bottom: 10%;
}

.start::after {
  content: "";
  display: block;
  position: fixed;
  background: #0087ff;
  width: 100px;
  height: 60px;
  left: 140px;
  bottom: 12%;
  opacity: 0.2;
  margin: auto;
  border-radius: 50%;
  animation: -rotate 3s linear infinite;
  z-index: -2;
  transform-origin: center;
}

.start::before {
  content: "";
  display: block;
  position: fixed;
  background: #0087ff;
  width: 60px;
  height: 100px;
  left: 160px;
  bottom: 8%;
  opacity: 0.4;
  margin: auto;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
  z-index: -2;
  transform-origin: center;
}


.result-module {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-top: 15%;
}

.result {
  width: 300px;
  height: 300px;
  // border-radius: 50%;
  padding: 18px;
  overflow: hidden;
  // background-image: linear-gradient(#e66465, #9198e5);

  .content-before{
    float: left;
    width: 50%;
    height: 100%;
    shape-outside: radial-gradient(farthest-side ellipse at right, transparent 98%, red);
  }
  .content-after{
    float: right;
    width: 50%;
    height: 100%;
    shape-outside: radial-gradient(farthest-side ellipse at left, transparent 98%, red);
  }
}

// 成功样式
.result.success {
  background: green;
  color: #fff;
  margin-bottom: 0px;
}

// 失败样式
.result.error {
  background: red;
  color: #fff;
  margin-bottom: 0px;
}



@keyframes rotate {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes -rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}